<table>
  <tr>
    <th>Coursename</th>
    <th>No of seats</th> 
  </tr>
  
  <form method="post" action="course1">
  <tr>
    <td>Java 1 Course</td>
    <td>#{c1}</td> 
    <td>#{course_reg}</td>
    <td><input type = "submit"></input></td>
  </tr>
  </form>  
  <form method="post" action="course2">
  <tr>
    <td>Java 2 Course</td>
    <td>#{c2}</td> 
    <td>#{course_reg}</td>
    <td><input type = "submit"></input></td>
  </tr>
  </form>
   <tr>
    <td>Java 3 Course</td>
    <td>InActive</td>
  </tr>
   <form method="post" action="home">
  <td><input type="submit" value="HOME PAGE" action="home"></td>
  </form>
</table>
