<table>
  <tr>
    <th>Coursename</th>
    <th>No of seats</th> 
  </tr>
  
  <form method="post" action="course">
  <tr>
    <td>Java1 Course</td>
    <td>#{c1}</td> 
    <td>#{course_reg}</td>
    <td>
  </tr>
  <tr>
  <td><input type="submit" value="BACK" action="course"></td>
  </tr>
  </form>  
</table>
