<table>
  <tr>
    <th>Coursename</th>
    <th>No of seats</th> 
  </tr>  
  <form method="post" action="course">
  <tr>
    <td>Java2 Course</td>
    <td>#{c2}</td> 
    <td>#{course_reg}</td>
  </tr>
  <tr>
<td><input type="submit" value="BACK" action="course"></td>
<tr>
  </form>
</table>
