- var cond1 =c1
- var cond2 =c2

if cond1>0
    h2.green Java course 1 is Registered Successfully 
if cond2>0
    h2.blue Java course 2  is Registered Successfully 
if cond2==0
    h2.red  Java course 2 is not registered..Pls do your registration
if cond1==0
    h2.red  Java course 1 is not registered..Pls do your registration 
<form method="post" action="course">
<br>
<input type="submit" value="BACK" action="course">
</form>
