html
    body
        div 
            h1 Course Management System
            div 
                h3 Login
                form(action="/login" method="POST")
                    table
                        tr
                            td
                                span User
                            td 
                                input(type="text" name="username")
                        tr
                            td
                                span Password
                            td
                                input(type="password", name="password")
                        tr
                            td
                                input(type="submit", value="Login")
            